@import url('https://fonts.googleapis.com/css?family=Libre+'Libre Baskerville', serif|Ubuntu|Yanone+Kaffeesatz:200');

body
{
    background-color: white;
    margin:0;
    /* overflow: hidden; */
}
a{
        text-decoration: none;
}
h3
{
    font-family: 'Yanone+Kaffeesatz', sans-serif;
    font-weight: lighter;
    color: #494741;
}

.home
{
margin-top: 5px;


}
.img
{
margin:10px auto 0 auto;
    width: 50px;
    height: 50px;
    background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
    background-image: url(img/icon.png);


}

@media (max-width:729px) {


    .camilo
    {
            background: linear-gradient( transparent 50%, white 90% ),  url("img/camilo.jpg");
    }
    .levi
    {
            background: linear-gradient( transparent 50%, white 90% ),  url("img/levi.jpg");
    }
    .amanda
    {
            background: linear-gradient( transparent 50%, white 90% ),  url("img/amanda.jpeg");

    }
    .jason
    {
            background: linear-gradient( transparent 50%, white 90% ),  url("img/jason.jpg");
    }
    .nino
    {
            background: linear-gradient( transparent 50%, white 90% ),  url("img/nino.png");
    }
    .table{

        display: flex;
        justify-content: space-around;
        margin:0;
        max-width: 100%;
        height: 80px;
        border-radius: 5px;
        background-color:#ffe45e;
    }
    .table h3
    {


            font-family: 'Yanone+Kaffeesatz', sans-serif;
            font-size: 1.5em;
            font-weight: 300;
            color: #494741;

    }
    .image
    {
    background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    width:100vw;
    height:50vh;
    margin: 0;
    }
    ul
    {
        position: relative;

         box-shadow: 0 30px 20px -20px black;
    background-color: #ffe45e;
    border-radius: 20px;
    padding: 20px 20px 20px 50px;
    text-align: right;

        font-size: 1.9em;
        font-family: 'Yanone+Kaffeesatz', sans-serif;
        font-weight: lighter;
        color: #494741;
        list-style: none;
    }

    .interview
    {
        font-family: 'Libre Baskerville', serif;
      font-size: 20px;
margin: 0 20px;
     color: #333333;

    }

}


@media (min-width :730px) {


.content
{
    display: flex;
    /* justify-content: space-between; */

}

.camilo
{
        background: linear-gradient( to right,transparent 50%, white 90% ),  url("img/camilo.jpg");
}
.levi
{
        background: linear-gradient( to right,transparent 50%, white 90% ),  url("img/levi.jpg");
}
.amanda
{
        background: linear-gradient( to right,transparent 50%, white 90% ),  url("img/amanda.jpeg");

}
.jason
{
        background: linear-gradient( to right,transparent 50%, white 90% ),  url("img/jason.jpg");
}
.nino
{
        background: linear-gradient( to right,transparent 50%, white 90% ),  url("img/nino.png");
}
.image
{
position: fixed;

background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40vw;
height: 100vh;
}



.interview
{
    font-family: 'Libre Baskerville', serif;
  font-size: 20px;
margin-left: 45%;
margin-top: 90px;
margin-right: 20px;
 color: #333333;
    /* background-color: red; */
    max-width: 553px;
    height: 100vh;
}


ul
{
     box-shadow: 0 30px 20px -20px black;
display: inline-block;
background-color: #ffe45e;
border-radius: 20px;
padding: 20px 20px 20px 50px;
text-align: right;
    position: fixed;
    top: 65%;
    font-size: 2.063em;
    font-family: 'Yanone+Kaffeesatz', sans-serif;
    font-weight: lighter;
    color: #494741;
    list-style: none;
}
.table{
position: fixed;
z-index: 1;
    justify-content: space-around;

    width: 100vw;
    height: 80px;
    border-radius: 5px;
    display: flex;
    background-color:#ffe45e;
}
.table h3
{


        font-family: 'Yanone+Kaffeesatz', sans-serif;
        font-size: 2.063em;
        font-weight: 300;
        color: #494741;

}

.img
{
margin:10px auto 0 auto;
    width: 50px;
    height: 50px;
    background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
    background-image: url(img/icon.png);


}





}
